.competition_mainscreeen {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 5%;
}

/* Styles pour le titre ('h1') dans la classe 'competition_mainscreeen' */
.competition_mainscreeen .title {
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Styles pour la classe 'main_divcomp' */
.main_divcomp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: flex-start; /* Aligne les éléments en haut */
  margin-top: 5%;
  margin-bottom: 150px;
}

.event {
  margin-bottom: 40px;
}

.compet {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour chaque compétition affichée dans 'main_divcomp' */
.single-competition {
  width: 30%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 200px;
}

.single-competition h2 {
  font-size: 18px;
  color: #333;
}

.single-competition .date {
  font-style: italic;
  color: #666;
}

.single-competition .description {
  margin-top: 10px;
  color: #555;
}

/* Styles pour le cas où aucune compétition n'est en cours */
.no-competition {
  text-align: center;
  color: #999;
  font-style: italic;
}

.event {
  display: inline-block;
  flex: 0 0 calc(33.33% - 20px); 
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 3%;
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px; 
}