.contact {
  width: 80vmax;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Kai";
  flex-wrap: wrap;
  gap: 2px;
  margin: 0;  /* Supprime les marges qui pourraient interférer */
  padding: 0; /* Supprime les paddings qui pourraient interférer */
}



.card {
  font-size: 1rem;
  color: rgb(0, 0, 0); 
  background: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 1.2rem;
  max-width: 500px; 
  margin: 2rem auto 1rem; 
  border: 2px solid black;
}

.card h2{
  color:rgb(0, 0, 0);
}