@font-face {
    font-family: 'Bebas Kai';
    src: url('fonts/BebasKai.ttf') format('truetype'),
        url('fonts/BebasKai.otf') format('opentype');
}

.header {
    margin: 50px auto 0;
    padding: 8px;
    list-style: none;
    display: table;
    width: auto;
    text-align: center;
    background-color: #FF4500;
    border-radius: 30px;
}

td {
    display: table-cell;
    position: relative;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navibutton:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}