/* Adding Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
@font-face {font-family: "CCSignLanguage Bold";
    src: url("fonts/3a137c528c2902708ed78ac8a6af72fb.eot"); /* IE9*/
    src: url("fonts/3a137c528c2902708ed78ac8a6af72fb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/3a137c528c2902708ed78ac8a6af72fb.woff2") format("woff2"), /* chrome、firefox */
    url("fonts/3a137c528c2902708ed78ac8a6af72fb.woff") format("woff"), /* chrome、firefox */
    url("fonts/3a137c528c2902708ed78ac8a6af72fb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("fonts/3a137c528c2902708ed78ac8a6af72fb.svg#CCSignLanguage Bold") format("svg"); /* iOS 4.1- */
  }



  @keyframes memberAnimation {
    0% {opacity: 0.5};
    10% {opacity: 0.58};
    20% {opacity: 0.55};
    30% {opacity: 0.53};
    40% {opacity: 0.51};
    50% {opacity: 0.5};
    60% {opacity: 0.4};
    70% {opacity: 0.3};
    80% {opacity: 0.2};
    90% {opacity: 0.1};
    100% {opacity: 0};
  }
  @keyframes boxTransition {
    0% {opacity: 0};
    10% {opacity: 0.1};
    20% {opacity: 0.2};
    30% {opacity: 0.3};
    40% {opacity: 0.4};
    50% {opacity: 0.5};
    60% {opacity: 0.6};
    70% {opacity: 0.5};
    80% {opacity: 0.8};
    90% {opacity: 0.9};
    100% {opacity: 1};
  }
.instagram{
    width: 1.5vmax;
}

body {
    background: repeating-linear-gradient(
        0deg,
        #0E0D0E 25%,
        #0E0D0E 50%,
        #171819 50%,
        #171819 75%
      );
    background-size: 10px 10px;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}


.confirmation_div{
    float: left;
    width: 100vmax;
    height: 100vmin;
}

.confirmation_div {
    width: 100vmax;
    height: 100vmin;
    float: left;
}

.confirmation_page {
    float: left;
    display: flex;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    font-family: "Bebas Kai";
    font-size: 5vmax;
    color: #ffffff;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    float: left;
    width: 100vmax;
    height: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    text-align: center;
}
.mask_color {
    height: 100%;
    background-color: #2c2c2c;
    opacity: 0.6;
    transition: opacity 0.5s;
}
.mask_color:hover {
    opacity: 0;
}
.members {
    float: left;
    width: 100vmax;
}
.memberstitle {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmax;
    height: 11vh;
    font-family: "Bebas Kai";
    font-size: 400%;
    background-color: rgba(92, 125, 158, 0.6); /* Slightly transparent blue */
    color: rgba(255, 248, 248, 0.6);
    margin-bottom: 10%;
    border-radius: 20px;
}

/*////////*/
.mask_color:hover{
    opacity: 0;
}
.member_box {
    width: 60vmax;
    position: fixed;
    top: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
    box-shadow: 2% 1% 10% rgba(26, 31, 9, 0.8);
}
.box_image{
    float: left;
    width: 40%;
    height: 10%;
    pointer-events: none;
}
.member_name {
    color: #cadef6;
    font-size: 2vmax;
    margin: 3%;
    text-align: center;
    font-family: 'CCSignLanguage Bold';
}
.allmembers{
    float: left;
    width: 10%;
}

.member_description{
    float: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-style: italic;
    font-size:1vmax;
    line-height: 3vmin;
    width:fit-content;
    block-size: auto;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}

.close {
    position: absolute;
    right: 3vmax;
    top: 0.5vmax;
    width: 1vmax;
    height: 2vmax;
    opacity: 0.6;
    pointer-events:auto;
  }
  .close:hover {
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 3vmin;
    width: 0.1vmax;
    background-color: #ffffff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
.fill_box{
    float: left;
    position: fixed;
    width: 100%;;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    pointer-events: all;
}
.boxes{
    width: 40%;
    height: auto;
}
.presentation_box{
    width: 100%;
    height: 100%;
    display: block;
    z-index:100;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events:none;
    visibility: hidden;
}
.presentation_box.transition{
    transition: all 0.5s;
}
.member_boxpreview{ /*NOUVEAU*/
    float: left;
    width: 50%;
    height: 20vh;
    align-content: center;
}

.member_preview{
    float: left;
    width: 100%;
    font-size:3vmax;
    height:100%;
    border: 1.5px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    pointer-events: auto;
    margin-bottom: 10%;
    transition: transform .2s; /* Animation */
    z-index: 1;
}

.member_preview:hover{
    cursor: pointer;
}

#member_preview:hover{
    cursor: pointer;
}

.member_previewname{
    text-align: center;
    position: relative;
    top: 40%;
    left: 0px;
    font-family: CCSignLanguage Bold;
    color: white;
    opacity: 0.6;
}
.custom-video {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00808097;
    border: solid;
}
.custom-video__container {
    float: left;
    position: relative;
    top: 0;
    left: 10%;
    width: 40vmax;;
    height: auto;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
}

.custom-video__video {
    border-radius: 0.2em;
    cursor: pointer;
}

.custom-video__control {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
}

video::-webkit-media-controls {
    position: relative;
    z-index: 1;
}

.home_description{
    float: left;
    font-family: "Bebas Kai";
    font-size: 1.5vmax;
    width: 40vmax;
    height: auto;
    margin-left: 10%;
    margin-top: 1%;
    color:white;
}

.divider_donotcross{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    position: absolute;
    top: 120%;
    line-height: 1.5;
    padding-left: 30px;
}

.container {
    background-color: rgb(162, 0, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    height: 450px; /* Ajoutez une hauteur fixe */
}

.container-profil {
    background-color: rgb(162, 0, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    height: auto; /* Ajoutez une hauteur fixe */
}

.container-inscription {
    background-color: rgb(162, 0, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    height: auto; /* Ajoutez une hauteur fixe */
}

.login-btn-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    margin-top: 15px; /* Ajoute de l'espace au-dessus du bouton */
    margin-bottom: 15px; /* Ajoute de l'espace en dessous du bouton */
}

#inscription {
    justify-content: center;
}

.login-btn {
    width: 300px; /* Ajustez la largeur du bouton pour remplir la largeur du formulaire */
    text-align: center; /* Aligner le texte au centre */
}

#connexion {
    justify-content: center;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}


.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-control {
    text-align: center;
    width: 450px;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5f009e; /* Fond orange */
    color: white; /* Texte en blanc */
}

#inscription {
    background-color: rgb(162, 0, 255); /* Bouton orange */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Ajoute de l'espace au-dessus du bouton */
    align-self: flex-end; /* Aligner le bouton au bas du formulaire */
}

.container-inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-inscription {
    margin: 20px auto; /* Marge automatique sur les côtés */
    display: block; /* Assure que le bouton prend toute la largeur disponible */
}
.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* Ajoute de l'espace au-dessus du bouton */
}

.btn-primary {
    background-color: #000000; /* Bouton orange */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: black; /* Changement de couleur au survol */
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajoute de l'espace au-dessus des boutons */
}

.btn-profil {
    margin: 0 10px; /* Marge sur les côtés des boutons */
    height: auto; /* Hauteur uniforme pour tous les boutons */
}

.btn-primary {
    background-color: rgb(81, 1, 185); /* Bouton orange */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: rgb(66, 1, 151); /* Changement de couleur au survol */
}

.confirmation-box {
    display: none;
    position: fixed;
    top: 50%; /* Décalage vertical au milieu */
    left: 50%; /* Décalage horizontal au milieu */
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 9999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.confirmation-content h2 {
    margin-bottom: 20px;
    color: white; /* Texte en blanc */
}

.confirmation-content {
    background-color: rgb(162, 0, 255); /* Fond orange */
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Affichage en colonne */
    flex-direction: column; /* Les éléments sont disposés en colonne */
    align-items: center; /* Centrer horizontalement */
}

.confirmation-content button {
    background-color: rgb(162, 0, 255); /* Bouton blanc */
    color: rgb(96, 2, 151); /* Texte orange */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espace entre les boutons et le texte */
}

.confirmation-content .button-container {
    display: flex; /* Affichage en ligne */
    justify-content: space-around; /* Espacement équitable entre les boutons */
    width: 100%; /* Utiliser toute la largeur */
}

#Oui {
    background-color: rgb(81, 1, 185);
    color: white;
}

#Non {
    background-color: rgb(81, 1, 185);
    color: white;
}